*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
} 


body{
    background-color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}


h1{
    color: #0638dd;
}

input{
    padding: 5;
    margin: 10px;
    border: 1px solid #ccc;
}
input::placeholder{
    color: #000000;
}
button{
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 8, 249);
    transition: 0.2 ease;
}
p{margin: 10px;
    color: #ffffff;
}
    